header{
	width:329px;
	height: 127px;
}
article{
	width:329px;
	height:300px;
}
li{
	list-style-type: none;
	margin: 2px;
}
ul li button{
	margin-left: 170px ;
}
html{
	border: cornflowerblue solid;
	width: 340px;
	height: 510px;
}
